<p>hello</p>
<!--<div class="flex-row">
  <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <mat-card appearance="outlined" *ngSwitchCase="'list'">
      <mat-card-content>
        <mat-nav-list class="todo-nav-list">
          <h3 mat-subheader>Todos</h3>
          <a mat-list-item *ngFor="let todo of this.filteredTodos" [routerLink]="['/users', todo._id]" class="user-list-item">
            <img matListItemAvatar [src]="user.avatar" *ngIf="this.todo.avatar">
            <span matListItemTitle mat-line class="todo-list-name"> {{todo.owner}} </span>
            <span matListItemLine class="todo-list-role"> {{todo.status}} </span>
          </a>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>

    <ng-template #usersError>
      <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="user-error">
        <mat-error>
          There was a problem loading the users. Possibly the server is down or perhaps there are network
          issues.
        </mat-error>
        <mat-error>
          Please wait a bit and try again or start the server.
        </mat-error>
      </div>
    </ng-template>

  </div> -->
